{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/new/new19.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<!-- <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>About us</span></p>
            <h1 class="mb-0 bread">About us</h1> -->
          </div>
        </div>
      </div>
    </div>

    <!--About-->
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/LEADERS PORTRAIT.jpg' %});">
            <a href="{% static 'images/new/video.MP4' %}" class="icon popup-vimeo d-flex justify-content-center align-items-center">
              <span class="icon-play"></span>
            </a>
          </div>
          <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
              <div class="ml-md-0">
                <h2 class="mb-4">About Rodzon Marketing Corporation</h2>
              </div>
            </div>
            <div class="pb-md-5">
              <p>With its humble beginnings in 1977, Rodzon Marketing Corporation (RMC), became one of the leading companies
                in the sales and distribution of a wide range of products of both local and foreign manufacturers.</p>
              <br>
              <p>RMC is a 100% Filipino-owned enterprise, managed by a family which carries the legacy of success and excellence
                in business.</p>
              <br>
              <p>In more than three decades in the business, RMC has superb customer base and support, proven sales management techniques
                and warehousing system that's definitely world-class and globally-competitive.</p>
              <br>
              <p><a href="{% url 'contact' %}#secs6" class="btn btn-primary">Know more</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

		<!-- <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light"> -->
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/new/new10.png' %});">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest Products and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!--Actual Data-->
		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/new/new10.png' %});">
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="40">0</strong><strong style="font-weight: 400; font-size: 30px; color: #000000;">+</strong>
                    <span>Years of Experience</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="100">0</strong><strong style="font-weight: 400; font-size: 30px; color: #000000;">+</strong>
                    <span>Product Lines</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="8">0</strong>
                    <span>Partners</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="10000">0</strong><strong style="font-weight: 400; font-size: 30px; color: #000000;">+</strong>
                    <span>Stores Nationwide</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <span class="subheading" style="font-size: 30px; font-weight: bold;">Our Clients</span>
          </div>
        </div>
        <div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-shipped"></span> -->
                <img src="{% static 'images/new/new5.jpg' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-diet"></span> -->
                <img src="{% static 'images/new/new6.jpg' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-award"></span> -->
                <img src="{% static 'images/new/new7.jpg' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-customer-service"></span> -->
                <img src="{% static 'images/new/new8.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
    
        <div class="row no-gutters ftco-services mt-3">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon active d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-shipped"></span> -->
                <img src="{% static 'images/new/new9.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-diet"></span> -->
                <img src="{% static 'images/new/new12.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-award"></span> -->
                <img src="{% static 'images/new/new13.png' %}" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2">
                <!-- <span class="flaticon-customer-service"></span> -->
                <img src="{% static 'images/new/new14.jpg' %}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
